* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-Color: #dfdfd4;
}

body {
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-Color);
    width: 100%;
}

.Flex-center,
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
    min-height: 100vh;
}


.Options-Container {
    margin: 20px 0;
}

.Options-Container>button {
    margin: 3px 0;
    padding: 10px 5px;
}

.QuesBox {
    width: 100%;
    border: 2px solid #9bd0fc;
    border-radius: 5px;
    background-color: #c7e6ff;
    padding: 15px 10px;
    font-weight: 800;

}